<div class="owner-edit">
  <%= simple_form_for [ recipe, comment ], remote: true do |form| %>
    <%= form.input :content, as: :text, label: false, placeholder: 'Add your comment here' %>
    <%= form.button :submit, 'Post Comment', :class => "btn-primary" %>
  <% end %>
</div>
