// Site-wide CSS rules
.btn a {
  color: white;
}
.flex {
  display: flex;
  &.align-center { align-items: center; }
  &.align-baseline { align-items: baseline; }
  &.align-top { align-items: flex-start; }
  &.align-bottom { align-items: flex-end; }
  &.justify-center { justify-content: center; }
  &.justify-around { justify-content: space-around; }
  &.justify-between { justify-content: space-between; }
}
#main{
  margin: 0px 100px;
}

// Headers
h1, h2, h3, h4 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 55px;
}
h3 {
  font-size: 40px;
}

// Links
a {
  &:hover{
    text-decoration: none;
  }
}

// Graphics
.photo {
  background-size: cover;
  height: 400px;
}

// Responsive design
@media screen and (max-width : 768px) {
  #main{
    margin: 20px;
  }
}
