.home-page-background {
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
}
.home-page-container {
  height: 100vh;
  display: flex;
}
.home-page-info {
  text-align: center;
  margin: auto;
}
.home-page-logo {
  height: 300px;
}

// Responsive design
@media screen and (max-height : 415px) {
  .home-page-logo{
    height: 220px;
  }
}

