// Site-wide CSS rules
.btn a {
  color: white;
}
.flex {
  display: flex;
}
.flex, .flex-wrap {
  &.align-center { align-items: center; }
  &.align-baseline { align-items: baseline; }
  &.align-top { align-items: flex-start; }
  &.align-bottom { align-items: flex-end; }
  &.justify-center { justify-content: center; }
  &.justify-around { justify-content: space-around; }
  &.justify-between { justify-content: space-between; }
}
#main{
  margin: 0px 100px;
  background-image: image-url("white_linen.png");
}

// Headers
h1, h2, h3, h4 {
  margin-top: 0.20em;
  margin-bottom: 0.20em;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 20px;
}

// Links
a {
  &:hover, &:visited, &:focus {
    text-decoration: none;
  }
}

// Paragraphs
p {
  margin: 20px 0;
}

// Graphics
body {
  background-image: image-url("pink_linen_vichy.png");
}
.photo {
  background-size: cover;
  height: 400px;
}

// Responsive design
@media screen and (max-width : 768px) {
  #main{
    margin: 20px;
  }
}
