#recipe-title h1 {
  text-decoration: underline;
  text-decoration-style: dotted;
}
.steps-container {
  min-width: 70%;
}
.ingredients-container {
  margin-right: 5%;
}
.photo {
  background-size: cover;
  height: 400px;
}
