.ingredients-container {
  padding: 10px;
  border: 10px;
  border-radius: 20px;
  border-style: dotted;
  ul {
    padding-left: 0px;

    li {
      padding-left: 20px;
      padding-top: 10px;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: white;
      &:first-child {
        border-top-width: 1px;
      }
    }
  }
}
.add-photo {
  margin-top: -110px;
  margin-bottom: 40px;
}

.steps-container {
  padding-left: 20px;
  padding-top: 20px;
}

#recipe {
  p {
    // provide indent from headers
    margin-left: 20px;
  }
  h3 {
    display: inline;
  }
  .row>div {
    position: static;
  }
  .row:last-child {
    padding-right: 0px;
  }
  .container-fluid{
    padding: 0px;
  }
}

.sortable .handle {
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.top-right-buttons {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  &>* {
    margin: 0 5px;
  }
}

// Responsive design
@media screen and (max-width : 768px) {
  .steps-container {
    padding-left: 0px;
  }
  .top-right-buttons {
    display: none;
  }
}
