#recipe-title h1 {
  text-decoration: underline;
  text-decoration-style: dotted;
}
#steps {
  min-width: 70%;
}
#ingredients {
  margin-right: 5%;
}
.photo {
  background-size: cover;
  height: 300px;
}
