.tab-content {
  flex: 1 1 auto;
  height: calc(100vh - 300px);
  overflow: scroll;
  margin-left: 30px;
}
.nav-pills > li > a {
  border: 1px solid white;
  border-left: none;
  border-right: none;
}

@media screen and (max-width : 768px) {
  .tab-content {
    overflow: auto;
    height: auto;
  }
}
@media screen and (max-width : 660px) {
  .tab-content {
    display: none;
    width: 0;
    height: 0;
  }
}
