<h1><%= @recipe.name %></h1>
<h2>
  <%= pluralize @recipe.reviews.size, "review" %>
</h2>

<div id="reviews">
  <% if @recipe.reviews.blank? %>
    Be the first to leave a review for <%= @recipe.name %>
  <% else %>
    <% @recipe.reviews.each do |review| %>
      <%= render 'reviews/show', review: review %>
    <% end %>
  <% end %>
</div>
