<h1><%= @recipe.name %></h1>
<h2>
  <%= pluralize @recipe.comments.size, "comment" %>
</h2>

<div id="comments">
  <% if @recipe.comments.blank? %>
    Be the first to leave a comment for <%= @recipe.name %>
  <% else %>
    <% @recipe.comments.each do |comment| %>
      <%= render 'comments/show', comment: comment %>
    <% end %>
  <% end %>
</div>
