// Update recipe title
$("#recipe-info").html('<%= j render "recipe_info" %>');
// reload edit button click listener
$(".edit-mode").click(function(e){
    // e.preventDefault();
    $(".edit-mode a").toggleClass("hidden");
    $(".editable:not(.comments-container)").toggleClass("hidden");
  });
// reset "edit" and "save edits" buttons
$('.edit-mode a').toggleClass("hidden");
// turn off edit mode on other items
$(".editable:not(.comments-container)").toggleClass("hidden");
// update navabr title
let title = $("#recipe-title h1").html();
  $("#navbar-title").html(`<h1>${title}</h1>`);
  $('#navbar-title').hide();
// close modal
$('#modal-window').modal('toggle');

