// Site-wide CSS rules
.btn a {
  color: white;
}
.flex {
  display: flex;
}
.flex, .flex-wrap {
  &.align-center { align-items: center; }
  &.align-baseline { align-items: baseline; }
  &.align-top { align-items: flex-start; }
  &.align-bottom { align-items: flex-end; }
  &.justify-center { justify-content: center; }
  &.justify-around { justify-content: space-around; }
  &.justify-between { justify-content: space-between; }
  &.justify-start { justify-content: flex-start; }
}
.main{
  margin: 0px 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
  border-radius: 20px;
  background-image: image-url("white_linen.png");
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.full-width {
  width: 100%;
  margin: 0 auto;
}

// Headers
h1, h2, h3, h4 {
  margin-top: 0.20em;
  margin-bottom: 0.20em;
}
h1 {
  font-size: 60px;
  @include fluid-type(font-size, 768px, 1440px, 45px, 60px);
}
h2 {
  font-size: 45px;
  @include fluid-type(font-size, 768px, 1440px, 30px, 45px);
}
h3 {
  font-size: 30px;
  @include fluid-type(font-size, 768px, 1440px, 20px, 30px);
}

// Graphics
body {
  background-image: image-url("pink_linen_vichy.png");
}
.photo {
  background-size: cover;
  height: 400px;
}
.opaque {
  opacity: 0.5;
}

// Icons
.fa {
  padding: 0 5px;
}
.edit-buttons {
  padding-left: 10px;
  font-size: $font-size-base;
}
.icon-group {
  float: right;
}

// Links
a {
  &:hover, &:visited, &:focus {
    text-decoration: none;
  }
}

// Lists
ul {
  list-style-type: none;
}

// Paragraphs
p {
  margin: 20px 0;
}

// Margin Spacers
.mb-10 {
  margin-bottom: 10px
}
.mb-20 {
  margin-bottom: 20px
}
.mb-30 {
  margin-bottom: 30px
}
.mt-10 {
  margin-top: 10px
}
.mt-20 {
  margin-top: 20px
}
.mt-30 {
  margin-top: 30px
}
.mr-10 {
  margin-right: 10px
}
.mr-20 {
  margin-right: 20px
}
.mr-30 {
  margin-right: 30px
}
.ml-10 {
  margin-left: 10px
}
.ml-20 {
  margin-left: 20px
}
.ml-30 {
  margin-left: 30px
}

// ios popup stylesheet
.ios-prompt {
  background-color: #fcfcfc;
  border: 1px solid #666;
  display: none;
  padding: 0.8rem 1rem 0 0.5rem;
  text-decoration: none;
  font-size: 16px;
  color: #555;
  position: absolute;
  margin: 0 auto 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 0;
}

// ------------------------------------------------------------------

// Responsive design
@media screen and (max-width : 990px) {
  .main{
    margin: 20px 50px;
    padding: 40px 10px;
  }
}
@media screen and (max-width : 768px) {
  .main{
    margin: 20px;
    padding: 40px 10px;
  }
}
