// Site-wide CSS rules
.btn a {
  color: white;
}
.flex {
  display: flex;
}
.flex, .flex-wrap {
  &.align-center { align-items: center; }
  &.align-baseline { align-items: baseline; }
  &.align-top { align-items: flex-start; }
  &.align-bottom { align-items: flex-end; }
  &.justify-center { justify-content: center; }
  &.justify-around { justify-content: space-around; }
  &.justify-between { justify-content: space-between; }
  &.justify-start { justify-content: flex-start; }
}
.main{
  margin: 0px 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
  border-radius: 20px;
  background-image: image-url("white_linen.png");
}

// Headers
h1, h2, h3, h4 {
  margin-top: 0.20em;
  margin-bottom: 0.20em;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 30px;
}

// Graphics
body {
  background-image: image-url("pink_linen_vichy.png");
}
.photo {
  background-size: cover;
  height: 400px;
}

// Icons
.fa {
  padding: 0 5px;
}
.edit-buttons {
  padding-left: 10px;
}
.icon-column {
  flex: 0 0 2em;
}

// Links
a {
  &:hover, &:visited, &:focus {
    text-decoration: none;
  }
}

// Lists
ul {
  list-style-type: none;
}

// Paragraphs
p {
  margin: 20px 0;
}

// Margin Spacers
.mb-10 {
  margin-bottom: 10px
}
.mb-20 {
  margin-bottom: 20px
}
.mb-30 {
  margin-bottom: 30px
}
.mt-10 {
  margin-top: 10px
}
.mt-20 {
  margin-top: 20px
}
.mt-30 {
  margin-top: 30px
}

// ------------------------------------------------------------------

// Responsive design
@media screen and (max-width : 768px) {
  .main{
    margin: 20px;
    padding: 10px;
  }
}
