<div class="ios-prompt">
  <span style="color: rgb(187, 187, 187); float: right; margin-top: -14px; margin-right: 0px;">X</span>

  <%
=begin %>
  /// uncomment this (remove begin & end tags) if you want to show the icon
  <img src='<%= asset_path "icons/apple-icon.png" %>' style="float: left; height: 100px; width: auto; margin-top: -8px; margin-right: 1rem;">
  <%
=end %>
  <p style="margin-top: -3px; line-height: 2.5rem;">To install this app on your iPhone/iPad, open in Safari browser and press <img src='<%= asset_path "share.svg" %>' style="display: inline-block; margin-top: 4px; margin-bottom: -4px; height: 20px; width: auto;"> and then <b>Add to Home Screen.</b></p>
</div>
