<%= render "ingredients/title" %>

<div class="btn btn-primary">
  <%= link_to 'Add New Ingredient', new_ingredient_path %>
</div>
<ul>
  <% @ingredients.each do |ingredient| %>
    <li>
      <%= link_to ingredient.name.capitalize, ingredient_path(ingredient.id) %>
    </li>
  <% end %>
</ul>
