<div class="ingredient">
  <h2>
    <%= @ingredient.name.capitalize %>
    <span class="edit-button">
      <%= link_to '<i class="far fa-edit" aria-hidden="true"></i>'.html_safe, edit_ingredient_path(@ingredient.id) %>
    </span>
    <span class="delete-button">
      <%= link_to '<i class="far fa-trash-o" aria-hidden="true"></i>'.html_safe,
        ingredient_path(@ingredient.id),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
    </span>
  </h2>
  <p>
    <%= @ingredient.description %>
  </p>
</div>
