<div class="main">
  <div class="title">
    <h1>Metrics</h1>
  </div>
  <div class="container-fluid">
    <div class="row mb-20 mt-20">
      <% @visits.each do |visit| %>
        <div>
          <%= "Visit \##{visit.id} on #{visit.started_at} from #{visit.city} on #{visit.device_type}"  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
