<div class="main">
  <div class="title">
    <h1>Metrics</h1>
  </div>
  <div class="container-fluid">
    <div class="row mb-20 mt-20">
      <div class="col-xs- col-md-3">
        <em>Visits</em>
      </div>
      <% @visits.each do |visit| %>
        <div class="col-xs-12 col-md-9">
          <%= "Visit \##{visit.id} on #{visit.started_at} from #{visit.city} on #{visit.device_type}"  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
