<div class="main">
  <div class="title">
    <h1>Metrics</h1>
  </div>
  <div class="container-fluid">
    <div class="row mb-20 mt-20">
      <% @visits.each do |visit| %>
        <div>
          <% t = visit.started_at %>
          <% date = "#{t.month}/#{t.day}/#{t.year}" %>
          <% start_time = "#{t.strftime("%T")}" %>
          <%= "#{date} at #{start_time} from #{visit.city} on #{visit.device_type}."  %>
          <% unless Ahoy::Event.where(visit_id: visit.id).empty? %>
            <% first_event = Ahoy::Event.where(visit_id: visit.id).first %>
            <% last_event = Ahoy::Event.where(visit_id: visit.id).last %>
            <%= "Duration: #{Time.at(last_event.time - first_event.time).utc.strftime("%H:%M:%S")}" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
