<div id="main">
  <div class="title">
    <h1>Profile Page</h1>
  </div>
  <div class="row mb-20 mt-20">
    <div class="col-xs- col-md-3">
      <em>Name :</em>
    </div>
    <div class="col-xs-12 col-md-9">
      <%= @user.name %>
    </div>
  </div>
  <div class="row mb-20">
    <div class="col-xs- col-md-3">
      <em>Email :</em>
    </div>
    <div class="col-xs-12 col-md-9">
      <%= @user.email %>
    </div>
  </div>
  <div class="row mb-20">
    <div class="col-xs- col-md-3">
      <em>Picture:</em>
    </div>
    <div class="col-xs-12 col-md-9">
      <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large" %>
    </div>
  </div>
</div>
