<div class="owner-edit">
  <%= simple_form_for [ recipe, step ], remote: true do |form| %>
    <%= form.input :instructions, as: :text, label: false %>
    <%= form.button :submit %>
  <% end %>
</div>
