<div class="owner-edit new-step-form">
  <%= simple_form_for [ recipe, step ], remote: true do |form| %>
    <%= form.input :instructions, as: :text, label: false %>
    <%= form.button :submit, 'Confirm', :class => 'btn-primary' %>
    <%= form.button :button, 'Cancel', :type => 'button', :class => 'btn btn-none cancel-step' %>
  <% end %>
</div>
