/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 100px;
  padding: 0px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: -1px;
  z-index: 1000;
}

/* Logo */
.navbar-wagon-brand img {
  height: 80px;
}

/* User Avatar */
.avatar {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

.avatar-medium {
  height: 130px;
  width: 130px;
  border-radius: 50%;
}

.avatar-large {
  height: 260px;
  width: 260px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &>:last-child {
    padding-right: 0px;
  }
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  max-height: 70vh;
  overflow-y: scroll;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 30px !important;
  line-height: 37px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
#navbar-recipe-title {
  text-align: center;
  h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.1em 0;
  }
  width: calc(100vw - 400px);
  white-space: nowrap;
}

// Sidebar
.nav-container {
  display: flex;
}
.sidebar {
  flex: 0 0 250px;
  height: calc(100vh - 300px);
  position: sticky;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  background: rgba(0,0,0,0.1);
}


// Responsive design
@media screen and (max-width : 768px) {
  .navbar-wagon {
    padding: 0px 20px;
  }
  #navbar-recipe-title {
    h1 {
      @include fluid-type(font-size, 400px, 768px, 40px, 80px);
    }
    width: calc(100vw - 200px);
  }
}
@media screen and (max-width : 660px) {
  .sidebar {
    height: auto;
    flex: 1 0 250px;
    text-align: center;
  }
}
