.amended {
  text-decoration: line-through;
  opacity: 0.3;
}
#steps {
  li {
    padding-left: 20px;
    padding-top: 10px;
    border-width: 0 0 1px 0;
    border-style: solid;
    &:first-child {
      border-top-width: 1px;
    }
    border-color: white;
  }
  h3 {
    padding-left: 20px;
  }
  li {
    .edit-button, .delete-button{
      float: right;
    }
  }
}
