.amended {
  text-decoration: line-through;
  opacity: 0.3;
}
#steps {
  li {
    padding-left: 20px;
    padding-top: 10px;
  }
  h3 {
    padding-left: 20px;
  }
  li .editable {
    float: right;
  }
}
